body {
	padding: 10px;
}
.item {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #F0F0F0;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	width: 180px;
	height: 220px;
}

.item img {
	padding-bottom: 10px;
}

.item.selected {
	background-color: #338585;
}
.item select {
	display: none;
}
.item.selected select {
	display:inline;
}

.item h3 {
	font-size: 14px;
	color: #333;
	padding: 0 0 10px 0;
	display: block;
	cursor: pointer;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.clear {
	float:none;
	clear:both;
}
